workflow.json
{
  "name": "Rest countries API",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "31098ad2-2717-4259-a955-574e108c3ab0",
      "name": "When chat message received",
      "webhookId": "64e258cb-1fa2-4ea5-a64d-5108b47455d2"
    },
    {
      "parameters": {
        "url": "https://api.swaggerhub.com/apis/d1corps/REST-Countries-API/1.0.0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "6b937db0-de21-4cec-841e-7b59078d0b1b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput  }}",
        "options": {
          "systemMessage": "You are an API documentation assistant for the REST Countries API. \nFollow the below rules strictly and never deviate:\n1. When generic messages like greetings and introduction are sent, reply like a warm lovely human.\n\n2. Answers to any API related messages MUST come from the below OpenAPI spec. You MUST NEVER use outside knowledge.\n\n3. When you can't find answers, return \"No answers found.\"\n\n4. Answers to API questions MUST follow the below format and order. DO NOT DEVIATE:\n1. Warm introduction (MUST come first):\n\n2. Endpoint: [endpoint here]\n \n3. Example Request: [example here]\n\n4. JavaScript Code Example:\n[code block here]\n\n5. Explanation: [explanation here]\n\n6. If the user is asking a follow-up question about a previous answer (e.g. \"give me the code in Python\"), only return what was asked for. Do not repeat the full format.\n\nNote: code examples must be in colorful, copiable code blocks, subheadings like endpoint, example request... must be bolden. \n\nSpec:\n{{ JSON.stringify($('HTTP Request').item.json) }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "41c29f95-30b7-456e-81d8-6b2569e91d3a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "84c7eb2f-b0d5-49c9-892e-9b7af8b49527",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "I6n663xXs5qhLFD9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        80
      ],
      "id": "d4e2b18b-412d-4ffd-81d5-291c39f2324d",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}